---
import { getCollection } from "astro:content";
import Page from "../../layouts/Page.astro";
import { FormattedDate, SITE_DESCRIPTION } from "../../utils";

const posts = (await getCollection("blog")).sort(
  (a, z) => z.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Page title="Archive">
  <h1>Archive</h1>
  <ul>
    {
      posts.map((post) => (
        <li>
          <FormattedDate date={post.data.pubDate} />
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Page>
