---
import { SITE_DESCRIPTION } from "../consts";
import { FormattedDate, Header, Meta } from "../components";

import { getCollection } from "astro:content";
import { FiExternalLink } from "react-icons/fi";
const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<html lang="en" data-theme="light">
  <head>
    <Meta title="Home" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main style="padding-top: 10px">
      {
        posts
          .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
          .map(async (post) => {
            const { Content } = await post.render();
            return (
              <section>
                <FormattedDate date={post.data.pubDate} />
                <div>
                  <h2>
                    {post.data.title}
                    <a
                      href={`/blog/${post.slug}`}
                      style="vertical-align: text-bottom;"
                    >
                      <FiExternalLink size="0.9rem" />
                    </a>
                  </h2>
                </div>
                <Content />
              </section>
            );
          })
      }
    </main>
  </body>
</html>
