---
import Header from "../components/Header/Header.astro";
import Meta from "../components/Meta/Meta.astro";
import { SITE_DESCRIPTION } from "../constants";
---

<html lang="en">
  <head>
    <Meta title="Home" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
  </body>
</html>
