header.container {
  padding-top: 3rem;
}

.avatar {
  max-width: 15vh;
  margin-bottom: 1rem;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: lightgray;
}

/* header.container hgroup h1 { */
/*   margin-bottom: 1rem; */
/* } */

header.container hgroup h2 {
  margin-top: 0;
}
