---
import { Nav, type LinkProp } from "./components/Nav/Nav";
import { Image } from "astro:assets";
import avatarImage from "../../images/avatar.jpg";

const links: LinkProp[] = [
  {
    url: "/about",
    label: "About",
  },
  {
    url: "/recommendations",
    label: "Recs",
  },
  {
    url: "/quotes",
    label: "Quotes",
  },
  {
    url: "http://snesjhon.com",
    label: "Portfolio",
    external: true,
  },
  {
    url: "./resume.pdf",
    label: "Resume",
    external: true,
  },
];
---

<header class="sidebar-header">
  <Image src={avatarImage} alt="Jhonatan Salazar" class="avatar" width={400} height={400} format="webp" quality={85} />
  <div class="profile-info">
    <div class="profile-name">Jhonatan Salazar</div>
    <div class="profile-bio">
      Just a kid from Oakland, running around believing in fairy tales
    </div>
  </div>
  <Nav links={links} client:only="react" />
</header>
