.container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.resume-container {
  padding: 0.75rem;
}

.resume-container p {
  margin-bottom: 0.25rem;
}

.resume-header {
}

.resume-header .flex {
  display: flex;
  justify-content: space-between;
}

.resume-header span {
  padding: 0 0.5rem;
}

.resume-header h2 {
  padding: 0;
  margin: 0;
}

.resume-container h4 {
  margin-top: 1rem !important;
}

section,
figure {
  margin-bottom: var(--spacing);
}

@media (min-width: 576px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 992px) {
  .container {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

hgroup {
  margin-bottom: 2rem;
}

hgroup > h1,
hgroup > h2,
hgroup > h3,
hgroup > h4,
hgroup > h5 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* [role='document'].container { */
/*   padding-top: 0; */
/*   padding-bottom: var(--spacing); */
/* } */
/**/
/* [role='document'] img { */
/*   margin-top: calc(var(--spacing) * 2); */
/*   margin-bottom: calc(var(--spacing) * 2); */
/* } */
/**/
/* [role='document'] .headings { */
/*   margin-top: calc(var(--spacing) * 2); */
/*   margin-bottom: calc(var(--spacing) * 2); */
/* } */
/**/
/* [role='document'] .headings h1 { */
/*   margin-top: 0; */
/*   margin-bottom: var(--spacing); */
/*   font-size: 2.5rem; */
/* } */
/**/
/* [role='document'] .headings p { */
/*   margin-top: 0; */
/*   margin-bottom: 0; */
/* } */
/**/
/* header[role='heading'] { */
/*   padding-top: 3rem; */
/*   padding-bottom: calc(var(--spacing) * 1.5); */
/* } */
/**/
/* header[role='heading'] nav[aria-label='breadcrumb'] ul { */
/*   padding: 0; */
/*   margin-bottom: 0; */
/* } */
/**/
/* header[role='heading'] nav[aria-label='breadcrumb'] li::after { */
/*   content: ' / '; */
/*   padding: 0 0.5rem; */
/*   color: var(--muted-color); */
/* } */
/**/
/* header[role='heading'] nav[aria-label='breadcrumb'] li:last-child::after { */
/*   content: ''; */
/* } */

/* Remove underlines from links */
[role='document'] a {
  text-decoration: none;
}

[role='document'] a:hover {
  text-decoration: underline;
}

.subLabel {
  display: block;
  color: var(--muted-color);
}

summary::after {
  display: none !important;
}

.icon {
  vertical-align: text-bottom;
  margin-left: 0.2rem;
}

.mobileNav {
  display: block;
}

.desktopNav {
  display: none;
}

@media (min-width: 768px) {
  .mobileNav {
    display: none;
  }

  .desktopNav {
    display: block;
  }
}
