.container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0;
}

.resume-container {
  padding: 0.75rem;
}

.resume-container p {
  margin-bottom: 0.25rem;
}

.resume-header {
}

.resume-header .flex {
  display: flex;
  justify-content: space-between;
}

.resume-header span {
  padding: 0 0.5rem;
}

.resume-header h2 {
  padding: 0;
  margin: 0;
}

.resume-container h4 {
  margin-top: 1rem !important;
}

section,
figure {
  margin-bottom: var(--spacing);
}

@media (min-width: 576px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 992px) {
  .container {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

[role="document"] > h1,
[role="document"] > h2,
[role="document"] > h3,
[role="document"] > h4,
[role="document"] > h5 {
  line-height: 1;
  margin-top: var(--typography-spacing-vertical);
  margin-bottom: var(--spacing);
}

[role="document"].container {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

.subLabel {
  display: block;
  color: var(--muted-color);
}

summary::after {
  display: none !important;
}

.icon {
  vertical-align: text-bottom;
  margin-left: 0.2rem;
}

.mobileNav {
  display: block;
}

.desktopNav {
  display: none;
}

@media (min-width: 768px) {
  .mobileNav {
    display: none;
  }

  .desktopNav {
    display: block;
  }
}
