.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 576px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 992px) {
  .container {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}
