---
import Analytics from "@vercel/analytics/astro";
import HeaderSingle from "../components/Header/HeaderSingle.astro";
import Meta from "../components/Meta/Meta.astro";

interface Props {
  title: string;
}

const astroProps = Astro.props;
let title = "";
let description = "";
if (astroProps.frontmatter) {
  title = astroProps.frontmatter.title;
  description = astroProps.frontmatter.description;
} else if (astroProps.title) {
  title = astroProps.title;
}
---

<html lang="en">
  <head>
    <Meta title={title} description={description} />
    <Analytics />
  </head>

  <body>
    <HeaderSingle title={title} />
    <main class="container" role="document">
      <slot />
    </main>
  </body>
</html>
