/* Custom Class-less version for React */

// Set the root element
$semantic-root-element: "#__next";

// Enable <header>, <main>, <footer> inside $semantic-root-element as containers
$enable-semantic-container: true;

// Enable .classes
$enable-classes: true;

// Import Pico
@import "@picocss/pico/scss/pico";

.avatar {
  max-width: 15vh;
  margin-bottom: var(--typography-spacing-vertical);
  border-radius: 50%;
}

@media (max-width: 576px) {
  .nav-header {
    display: flex;
    flex-direction: column;
  }
}

.nav-link {
  cursor: pointer;
}

.home h2 {
  border-bottom: 1px solid var(--muted-border-color);
  padding-bottom: 1rem;
}
